@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebdef4;
}

.nav {
  position: relative;
  background-color: #fff;
  width: 310px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}
.nav ul {
  width: 210px;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav ul li {
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav ul li .icon {
  position: relative;
  color: #b3b9c4;
  font-size: 20px;
  transition: 0.3s;
  font-weight: 200;
}

.nav ul li.active .icon {
  color: #6b00b2;
  transition: 0.3s;
  font-weight: 500;
  transform: translateY(-30px);
  font-size: 25px;
}

.nav ul li .text {
  position: absolute;
  font-size: 12px;
  color: #b3b9c4;
  font-weight: 200;
  transition: 0.3s;
  transform: translateY(30px);
  opacity: 0;
  letter-spacing: 0.05em;
}

.nav ul li.active .text {
  color: #6b00b2;
  transition: 0.3s;
  transform: translateY(15px);
  font-weight: 500;
  opacity: 1;
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #fff;
  top: -50%;
  border-radius: 50%;
  border: 6px solid #ebdef4;
  box-sizing: border-box;
  transition: 0.3s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -14.2px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 0 100% 0 0;
  box-shadow: 1px -5px 0 0 #ebdef4;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -14.5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100% 0 0 0;
  box-shadow: -1px -5px 0 0 #ebdef4;
}

.nav ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.nav ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
